html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--primary-2);
  font-size: var(--font-size-3);
  color: var(--font-0);
  transition: all 0.3s;
}

* {
  box-sizing: border-box;
}

#__next {
  display: flex;
  width: 100vw;
  height: 100vh;
}

:root {
  --navy: #202a44;
  --light: #ffffff;

  --shadow-0: rgb(0 0 0 / 13%) 0px 1.6px 3.6px 0px,
    rgb(0 0 0 / 11%) 0px 0.3px 0.9px 0px;

  --font-size-0: 9px;
  --font-size-1: 12px;
  --font-size-2: 14px;
  --font-size-3: 16px;
  --font-size-4: 18px;
  --font-size-5: 24px;
  --font-size-6: 36px;
  --font-size-7: 48px;
  --font-size-8: 72px;

  // greys
  --neutral-0: #000000;
  --neutral-1: #1e1e1e;
  --neutral-2: #353535;
  --neutral-3: #4e4e4e;
  --neutral-4: #696969;
  --neutral-5: #858585;
  --neutral-6: #a2a2a2;
  --neutral-7: #c0c0c0;
  --neutral-8: #dfdfdf;
  --neutral-9: #ffffff;

  // blues
  --blue-0: #3892f3;
  --blue-1: #147af3;
  --blue-2: #0265dc;
  --blue-3: #0054b6;
  --blue-4: #004491;

  // navy
  --primary-0: #121430;
  --primary-1: #1e2341;
  --primary-2: #2a3352;
  --primary-3: #364463;
  --primary-4: #435575;

  --font-0: #eeeeee;
  --font-1: #c9c9c9;
  --font-2: #959595;
}

[data-theme='light'] {
  --primary-0: #909090;
  --primary-1: #ababab;
  --primary-2: #c6c6c6;
  --primary-3: #e2e2e2;
  --primary-4: #ffffff;

  --font-0: #111111;
  --font-1: #1f1f1f;
  --font-2: #373737;
}
