button.btn {
  color: var(--font-0);
  background-color: var(--blue-1);
  border-radius: 16px;
  padding: 3px 14px;
  border: 2px solid var(--blue-1);
  outline: none;
  min-width: 72px;
  text-align: center;

  &:hover {
    background-color: var(--blue-2);
  }

  &:active {
    background-color: var(--blue-3);
  }

  &.secondary {
    color: var(--blue-0);
    background-color: transparent;
    &:hover {
      color: var(--blue-1);
    }

    &:active {
      color: var(--blue-2);
    }
  }
}
