@mixin gridColor($base, $add) {
  @for $var from 1 through 4 {
    $count: 2 * ($var + $base) + $add;
    &:nth-child(16n + #{$count}) {
      background-color: var(--blue-4);
      color: var(--neutral-7);
    }
  }
}

div.tile {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-basis: 12.5%;
  background-color: var(--neutral-8);
  color: var(--neutral-2);

  @include gridColor(0, 0);
  @include gridColor(3, 1);

  .tileIndex {
    position: absolute;
    bottom: 0;
    left: 2px;
  }

  img {
    height: 85%;
    width: 85%;
  }
}
