nav.nav {
  background-color: var(--primary-3);
  width: 216px;
  padding: 16px;
  padding-left: 0px;
  display: flex;
  flex-direction: column;

  a.item {
    display: flex;
    align-items: center;

    gap: 20px;
    width: 100%;
    padding: 10px;
    padding-left: 26px;
    border-radius: 0 var(--radius-0) var(--radius-0) 0;

    &.active {
      background-color: var(--primary-2);
    }

    &:hover {
      background-color: var(--primary-1);
    }

    svg {
      font-size: var(--font-size-4);
    }
  }
}
