@import '~styles/variables';

nav.nav {
  background-color: var(--primary-3);
  padding: 16px;
  display: flex;
  justify-content: space-around;

  a.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;

    gap: 24px;
    padding: 16px;

    border-radius: $radius-0;

    &.active {
      background-color: var(--primary-2);

      &::after {
        position: absolute;
        content: '';
        bottom: 8px;
        left: 16px;
        right: 16px;
        height: 4px;
        background-color: var(--font-0);
        border-radius: $radius-0;
      }
    }

    &:hover {
      background-color: var(--primary-1);
    }

    svg {
      font-size: $font-size-6;
    }

    span {
      display: none;
    }
  }

  @media (min-width: $desktop) {
    width: 216px;
    flex-direction: column;
    justify-content: start;

    a.item {
      flex-direction: row;
      padding-left: 26px;
      border-radius: 0 $radius-0 $radius-0 0;

      svg {
        font-size: $font-size-4;
      }

      span {
        display: inline;
      }
    }
  }
}
