@import '~styles/variables';

.game-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 20px;

  .game {
    flex: 1;
  }

  @media (min-width: $desktop) {
    flex-direction: row-reverse;
  }
}
