@import '../../styles/variables';

.logo {
  display: none;
  background-color: var(--blue-2);
  box-shadow: $shadow-0;
  border-radius: 8px;
  position: relative;
  padding: 5px;
  width: fit-content;
  margin: 20px auto 30px;

  .pawn {
    width: 50px;
  }

  .sword {
    width: 40px;
    position: absolute;
    top: 12px;
    left: 10px;
  }

  @media (min-width: $desktop) {
    display: block;
  }
}
