@import '~styles/variables';

.timer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 16px 0;

  .timer-outer {
    display: none;
    margin-top: 3px;
    height: 10px;
    flex: 1;
    padding: 1px;
    background-color: var(--neutral-1);
    border-radius: var(--radius-1);
    overflow: hidden;

    .timer-inner {
      width: 100%;
      height: 100%;
      background-color: var(--neutral-8);
      border-radius: var(--radius-1);
    }
  }

  .timer-counter,
  .timer-username {
    margin: 0;
    &.active {
      color: vat(--font-0);
    }
  }

  .timer-counter {
    text-align: right;
  }

  @media (min-width: $desktop) {
    .timer-outer {
      display: block;
    }
  }
}
